   
{% extends "base/base.html" %}
{% load static %}
{% block title %}{{object.title}}{% endblock %}
{% block content %}
<!-- Navigation -->
{% include 'base/navbar.html' %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/media/about-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>{{ title|title }}</h1>
          <span class="subheading">About us site</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Thats the place to write your "about us" text.</p>
    </div>
  </div>
</div>

<hr>

<!-- Footer -->
{% include 'base/footer.html' %}

{% endblock %}